.nav-div{
    float: left;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    background-color: black;
    color: aliceblue;
}

.nav-div li{
    display: inline;
    font-size: 15px;
    margin: 0% 3% 0% 3%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.hero-div{
    float: left;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../images/intro-bg.jpg);
    background-size: 100% 100%;
    height: 550px;
}

.hero-div h1{
    float: left;
    width: 20%;
    margin: 10% 0% 0% 40%;
    font-family: "Rochester", cursive;
    font-weight: 400;
    font-size: 140px;
    color: aliceblue;
}

.hero-div p{
    float: left;
    width: 30%;
    margin: 7% 0% 0% 35%;
    font-size: 25px;
    color: rgba(240, 248, 255, 0.805);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.specials-div{
    float: left;
    width: 100%;
    margin: 5% 0% 5% 0%;
}

#special{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
}

.specials-sub{
    float: left;
    width: 25%;
    text-align: center;
    margin: 0% 4% 0% 4%;
}

.specials-sub img{
    float: left;
    width: 100%;
}

.specials-sub h4{
    font-size: 25px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.specials-sub p{
    float: left;
    width: 90%;
    /* background-color: aqua; */
    margin: 3% 0% 0% 5%;
    color: rgba(0, 0, 0, 0.522);
    font-size: 17px;
}

.story-div{
    float: left;
    width: 100%;
    margin: 5% 0% 7% 0%;
}

.story-sub1{
    float: left;
    width: 50%;
}

.story-sub1 img{
    float: left;
    width: 100%;
}

.story-sub2{
    float: left;
    width: 20%;
    margin: 0% 0% 0% 15%;
}

.story-sub2 h4, .menu-div h4{
    font-size: 40px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.story-sub2 p{
    font-size: 17px;
    color: rgba(0, 0, 0, 0.679);
}

.menu-div{
    float: left;
    width: 100%;
    text-align: center;
    text-decoration: underline;
    margin: 5% 0% 5% 0%;
}

.menu-sub{
    float: left;
    width: 100%;
    margin: 5% 0% 0% 0%;
}

.menu-sub img{
    float: left;
    width: 25%;
}