body{
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.5)), url(../images/forest.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.form-div{
    float: left;
    width: 60%;
    border: 2px solid aliceblue;
    margin: 10% 0% 35% 20%;
}

.form-div input{
    float: left;
    width: 96%;
    font-size: 30px;
    background-color: rgba(73, 71, 71, 0.537);
    border: 2px solid rgba(112, 109, 109, 0.537);
    margin: 4% 0% 0% 2%;
    padding: 1.5% 0% 1.5% 0%;
    color: aliceblue;
    font-weight: 700;
    text-align: center;
}

.form-div button{
    float: left;
    width: 45%;
    background-color: rgba(73, 71, 71, 0.537);
    border: 2px solid rgba(112, 109, 109, 0.537);
    color: rgba(182, 187, 191, 0.699);
    font-size: 30px;
    font-weight: 700;
    padding: 1.5% 0% 1.5% 0%;
    margin: 3% 0% 3% 27%;
}

#btn1:hover{
    box-shadow: 4px 4px 30px aliceblue;
    font-size: 40px;
    transition: 0.5s;
}